# Arquivos de ambiente
.env

# Binários e executáveis
*.exe
*.exe~
*.dll
*.so
*.dylib

# Binário de teste
*.test

# Saída de ferramentas de cobertura
*.out

# Diretório de dados do Docker
.data/

# Arquivos de IDEs
.idea/
.vscode/

# Arquivos de sistema operacional
.DS_Store
thumbs.db
